{% extends "layout.html" %}
{% block body %}
    <div class="text">
        <div class="w3-container w3-center">
            <h1>Welcome to Porky's Pizza Postage!</h1>
            <h3>Your favorite place for delicious pizza.</h3>
            <br>
            <p>
                At Porky's Pizza Postage, we pride ourselves on delivering hot,
                fresh, and delicious pizzas right to your doorstep. Our core 
                values are quality, customer satisfaction, and community. We use
                only the finest ingredients, ensure timely delivery, and strive
                to bring people together through the love of great food. Our  
                founders, Mark and Sarah, started this journey with a dream, 
                to ensure everyone could enjoy a slice of happiness. Ever 
                since they were little, they have been passionate about 
                cooking and enjoy the smiles they bring to their customers' 
                faces. For a long time now, other delivery services have 
                been far too expensive for the average family, and we want to
                change that. We are committed to providing affordable prices
                without ruining the quality of our food, and pride ourselves
                on this fact.
            </p>
        </div>
    </div>
    
{% endblock %}