{% extends "layout.html" %}
{% block body %}
<!--promoting accounts on left, managing on right. file logs, adding items to menu removing items, suppliers, etc. Seems like coding so I'll do it later--->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Job</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Address</th>
            <th>Store</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in employee_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.job }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phone_number }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.store }}</td>
                <td>{{ item.working_status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{{ url_for('add_employee') }}" method="post">
    <input name="account_id">
    <button type="submit">Add account as employee</button>
  </form>
<form action="{{ url_for('remove_employee') }}" method="post">
    <input name="account_id">
    <button type="submit">Remove employee acount</button>
  </form>
<form action="{{ url_for('add_menu_item') }}" method="post">
    <input name="account_id">
    <button type="submit">Add item to menu</button>
  </form>
<form action="{{ url_for('remove_menu_item') }}" method="post">
    <input name="account_id">
    <button type="submit">Remove item from menu</button>
  </form>
<form action="{{ url_for('add_supplier') }}" method="post">
    <input name="account_id">
    <button type="submit">Add supplier</button>
  </form>
<form action="{{ url_for('remove_supplier') }}" method="post">
    <input name="account_id">
    <button type="submit">Remove supplier</button>
  </form>

  <body id="log_right">
        {{logs}}
  </body>

{% endblock %}