{% extends "layout.html" %}
{% block body %}

<div id="stock_table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity in stock</th>
                <th>Order price</th>
                <th>Time till expiry</th>
                <th>Log waste</th>
                <th>Order more</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stock_list %}
                <tr class="data-row">
                    <td>{{ item.name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>${{ "%.2f"|format(item.price) }}</td>
                    <td>{{ item.expiry_length }}</td>
                    <td class="stock_action_cell">
                        <div class="stock_buttons">
                            <form action="/waste" method="POST" class="inline-form">
                                <input type="hidden" name="stock_id" value="{{ item.id}}">
                                <input type="number" name="quantity" value="1" min="1" max="{{ item.qty}}" required>
                                <button type="submit" class="waste_button">Log damage/waste</button>
                            </form>
                        </div>
                    </td>
                    <td class="stock_action_cell">
                        <div class="stock_buttons">
                            <form action="/order_more" method="POST" class="inline-form">
                                <input type="hidden" name="stock_id" value="{{ item.id}}">
                                <input type="number" name="quantity" value="1" min="1" required>
                                <button type="submit" class="order_button">Order more</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}